################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodingExercises/DesignTimeBuild
/.vs/CodingExercises/FileContentIndex
/.vscode
/.vs/ProjectEvaluation
/.vs/CodingExercises/v17
/C#/DataStructuresInC#/bin/Debug/net8.0
/C#/DataStructuresInC#/obj
/Cpp/DataStructures/x64/Debug
/x64/Debug
/Cpp/DataStructures.GTest/x64/Debug
/packages/gmock.1.11.0
/.vs/AllCodingExercises/v17
/C#Code/DataStructuresInC#/bin/Debug/net8.0
/C#Code/DataStructuresInC#/obj
/CppCode/.vs
/CppCode/DataStructures/x64/Debug
/CppCode/DataStructures.GTest/.vs/DataStructures.Gtest
/CppCode/DataStructures.GTest/x64/Debug
/CppCode/packages/gmock.1.11.0
/CppCode/x64/Debug
/CppCode/ChallangesAndExercises.GTest/x64/Debug
/CppCode/ChallengesAndExercises/x64/Debug
/CppCode/Containers/x64/Debug
/CppCode/Containers.UT/x64/Debug
/CppCode/ExercisesApp/x64/Debug
/nootbook.dio
/CppCode/Basics/x64/Debug
